<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@team.image) if @team.image.attached? %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @team.city %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
