<p id="notice"><%= notice %></p>

<h1><%= I18n.t('player.title') %></h1>
<br>
<%= link_to I18n.t('player.new'), new_player_path, class: 'btn btn-info' %>
<br><br>

<table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
  <thead>
    <tr>
      <th><%= I18n.t('player.name') %></th>
      <th><%= I18n.t('player.country') %></th>
      <th><%= I18n.t('player.age') %></th>
      <th><%= I18n.t('player.transfer_fees') %></th>
      <th><%= I18n.t('.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.country %></td>
        <td><%= player.age %></td>
        <td><%= player.transfer_fees %></td>
        <td><%= link_to I18n.t('show'), player %> |
        <%= link_to I18n.t('edit'), edit_player_path(player) %> |
        <%= link_to I18n.t('destroy'), player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
